@import "tailwindcss";

@font-face {
  font-family: 'Product Sans';
  src: url('/fonts/PRODUCTSANS-REGULAR.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/fonts/PRODUCTSANS-BOLD.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Product Sans';
  src: url('/fonts/PRODUCTSANS-MEDIUM.TTF') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Product Sans';
  src: url('/fonts/PRODUCTSANS-ITALIC.TTF') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Victor';
  src: url('/fonts/VICTORMONO-REGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Brad';
  src: url('/fonts/BRADHITC.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.victor-font{
  font-family: Victor;
}
.brad{
  font-family: Brad;
}